:root {
    --primary-color: #680ff6ec;
    --surface-color: white;
    --secondar-color: skyblue;
    --border-radius-sm: 10px;
    --border-radius-md: 25px;
    --border-radius-lg: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar section */

.navbar {
    /* margin: 10px; */
    gap: 20rem;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 1rem;
    position: fixed;
    justify-content: space-between;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    overflow: hidden;
    background: var(--surface-color);
    z-index: 1000;
    width: 100%;
    height: 60px;
}

.navbar-left {
    /* color: var(--primary-color); */
    background: linear-gradient(120deg, black, blue, skyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    font-weight: 900;
}

.nav-links a:hover {
    color: var(--primary-color);
    transform: translateY(-2px);
}

/* Hero section  */

.hero {
    /* margin: 2rem 8rem; */
    padding: 8rem 5rem;
}

.hero-image {
    padding: 10px;
    border: 10px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.hero-image img{
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #101012, rgb(41, 32, 93), #3a61f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content {
    text-align: center;
    margin: 2rem;
    font-size: 1.2rem;
}

.hero-buttons {
    width: 100%;
    text-align: center;
}

.hero-buttons .btn {
    padding: 1rem;
    text-align: center;
    display: inline-block;
    margin: 0.5rem;  
}

.hero-buttons a{
    display: flex;
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-buttons .btn-view {
    background: var(--primary-color);
    padding: 0.8rem 2rem;
    border-radius: 10px;
    color: white;
}

.hero-buttons .btn-download {
    background: var(--surface-color);
    border: 1px solid #dedede;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    color: #656464;
}

.hero-buttons .btn-download:hover {
    background: gray;
    color: black;
}

.aboutMe {
    padding: 2rem 8rem;
}

.aboutMe .section-title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

.aboutMe .section-subtitle {
    text-align: center;
    margin: 2rem;
    font-size: 1.4rem;
    color: gray;
}

.aboutMe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.aboutMe-card {
    padding: 1.5rem;
    /* box-shadow: 5px 5px 10px 10px rgpa(0,0,0,0.8); */
    border: 2px solid gray;
    border-radius: 15px;
    margin: 1.2rem;
}

.aboutMe-card h3 {
    font-weight: 700;
    text-align: center;
    margin: 2rem;
}

.Card-icon {
    align-items: center;
    text-align: center;
}

.aboutMe-card p {
    font-weight: 900;
    text-align: center;
    margin: 2rem;
    color: gray;
}

/* 
about Me section ends  
Things to be implemented 
    the card grid responsiveness
    Slight touches of css.
    More Salt......

*/


/* Project section  */

.projects {
    padding: 2rem 8rem;

}

.projects .section-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem;
}

.projects .section-subtitle {
    text-align: center;
    color: gray;
    font-weight: 900;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.projects-card {
    border: 1px solid gray;
    gap: 2rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 15px;
}


.projects-card p {
    margin-bottom: 1rem;
}

.project-requirements {
    display: flex;
    justify-content: space-between;
}

.project-requirements a {
    background: gray;
    border-radius: 20px;
    padding: 6px 10px;
    color: white;
    margin: 0.3rem;
    text-decoration: none;
    cursor:default;
}

.project-btn {
    display: flex;
    /* align-items: center; */
    gap: 0.5rem;
    margin-top: 1rem;
}

.project-btn .btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

